body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 150px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.contact-info h2 {
    margin-top: 0;
    font-size: 20px;
}

.contact-info p {
    margin-bottom: 5px;
}

footer {
    background-color: rgb(19, 190, 253);
    padding: 10px 0;
    background-color: rgb(19, 190, 253);
    padding: 10px 0;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
 }
 
 footer .container{
    text-align: center;

 }