body {
   font-family: Arial, sans-serif;
   background-color: aliceblues;
   margin: 0;
   padding: 0;
}

.main {
   display: flex;
}

.main1 {
   width:200px;
   height: 110vh;
   background-color: #56b7e5;
   
}

.menu-item {
   text-align: center;
   background-color: white;
   margin: 10px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   padding:5px 20px;
}

.menu-icon {
   width: 40px;
   height: 40px;
}

.main2 {
   background-color:rgb(171, 226, 254);
   text-align: center;
   margin-top: 20px;
   margin: 0;
   padding: 0;
}
main2 h1{
   ont-family: Arial, sans-serif;
}

footer {
   background-color: rgb(19, 190, 253);
   padding: 10px 0;
}

footer .container{
   text-align: center;
   

}
